<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Cadastre-se</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="form" (submit)="save(form.value)">
              <ion-list>

                <app-input-feedback type="text" [control]="form.controls.name" label="Nome"></app-input-feedback>
                <app-input-feedback type="email" [control]="form.controls.email" label="E-mail"></app-input-feedback>
                <app-input-feedback type="password" [control]="form.controls.password" label="Senha"></app-input-feedback>
                <app-input-feedback type="password" [control]="form.controls.password_confirm" label="Confirmar senha"></app-input-feedback>

              </ion-list>

              <p>
                <ion-button type="submit" color="primary" shape="round" size="default" expand="block"
                  [disabled]="form.invalid">
                  Cadastrar e entrar
                </ion-button>
              </p>
              <p>
                <ion-button (click)="back()" color="secondary" fill="clear" size="small" expand="block">
                  Voltar
                </ion-button>
              </p>

            </form>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>