<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Esqueceu sua senha?</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <p>
              <ion-icon name="information-circle-outline"></ion-icon>
              <ion-text>
                Enviaremos um e-mail contendo instruções para redefinir sua senha
              </ion-text>
            </p>

            <form [formGroup]="form" (submit)="sendMail(form.value)">
              <ion-list>

                <app-input-feedback type="email" [control]="form.controls.email" label="E-mail"></app-input-feedback>

              </ion-list>


              <p>
                <ion-button type="submit" color="primary" shape="round" fsize="large" expand="full"
                  [disabled]="form.invalid">
                  Enviar
                </ion-button>
                <br />
                <ion-button (click)="back()" color="secondary" fill="clear" size="small" expand="full">
                  Voltar
                </ion-button>
              </p>

            </form>
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>