<ion-list>

  <ion-item *ngFor="let c of contacts | async" class="click" (click)="openActionSheet(c)">
    <ion-avatar slot="start">
      <img [src]="c.image" [alt]="c.name">
    </ion-avatar>
    <ion-label>
      <h2>{{ c.name }}</h2>
      <p>{{ c.phone | mask: '(##) #####-####' }}</p>
    </ion-label>
  </ion-item>

</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="newContact()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>